<div class="row">

<div class="col-md-5">
</div>

<div class="col-md-2">
<button class="btn btn-block btn-twitter" ng-click="authenticate('twitter')">
          <i class="ion-social-twitter"></i> Sign in with Twitter
 </button>

</div>

<div class="col-md-5">
</div>

 </div>